
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --mantine-color-body: #1a1b1e;
  --mantine-color-gray-3: #373a40;
  --mantine-color-gray-7: #c1c2c5;
  --mantine-color-dark-0: #fff;
  --mantine-color-blue-filled: #228be6;
  --mantine-color-white: #ffffff;
  --mantine-radius-sm: 4px;
  --mantine-font-size-sm: 14px;
  font-family: poppins;
}
[data-scroll-container] {
  overflow: hidden; /* Required for Locomotive Scroll */
}

.section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full-screen sections */
  scroll-snap-align: start;
}

.section h1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
